backend_server/.env
backend_server/node_modules/
backend_server/package-lock.json
backend_server/server/seedPatients.js

frontend/.env
frontend/node_modules/
frontend/package-lock.json
frontend/.vscode/